.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
*-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# emulator data
/saved-data

# test and coverage results
/.nyc_output
/coverage
