{
  "extends": "@istanbuljs/nyc-config-typescript",
  "check-coverage": true,
  "include": [
    "src/**/!(*.test.*).[tj]s?(x)"
  ],
  "exclude": [
    "src/tests/**/*.*"
  ],
  "reporter": [
    "html",
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage"
}