rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow get, write: if request.auth != null;
    }
    match /session-prep/{sessionId}{
      allow read, write: if request.auth != null

      match /session-run/{runId} {
        allow read, write: if request.auth != null
      }
    }
    match /creatures/{creatureId}{
      allow read, write: if request.auth != null

      match /userData/{dataId=**} {
        allow read, write: if request.auth != null && resource.data.userId == request.auth.uid
      }
    }
    match /rpg-creatures/{creatureId}{
      allow read, write: if request.auth != null

      match /userData/{dataId=**} {
        allow read, write: if request.auth != null && resource.data.userId == request.auth.uid
      }
      match /data/{dataId=**} {
        allow read, write: if request.auth != null
      }
    }
    match /running-info/{infoId} {
      allow read, write: if request.auth != null && resource.data.userId == request.auth.uid
    }
  }
}
